.album-results-container {
    border: 1px black solid;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 300px;
}

.player-container {
    border-radius: 65px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    overflow: hidden;
    background-color: black;
    color: white;
}

.whole-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar {
    width: 100%;
    z-index: 20;
    position: fixed;
    background-color: black;
    color: white;
}

.top-bar-left ul {
    background-color: black;
}


.arrow {
    position: absolute;
    height: 20px;
    width: 20px;
    display: none;
}

.arrow:hover {
    cursor: grab;
}


#artist-results {
}

#spotify-results {
}

#tracks-pane {
}

#lyrics-pane {
}

#scrobble-pane {
}

#album-results {
}

#news-pane {
}

#options {
}

#search-bar {
}


.result {
}


.result:hover {
    background-color: white;
    color: black;
    cursor: default;
}

body{
    width: 100%;
    background: black;
}

h2 {
    color: white;
}

#player{

}

#vid-box{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.options {
    position: fixed;
    z-index: 20;
    top: 55px;
    color: white;
}

.search-result {

}

.search-result:hover {
    color: yellow;
}

.x {
    height: 20px;
    width: 20px;
    position: absolute;
    display: none;
}

.lock {
    height: 20px;
    width: 20px;
    position: absolute;
    display: none;
}

.artist-image {
    width: 50px;
}

.vertical-title {
    width: 40px;
    height: 100%;
    background-color: blue;

}

.vertical-title div{
    width: 29%;
    word-wrap: break-word;
    font-size: 32px;
    line-height: 30px;
    margin-left: 35%;
    color: white;
    margin-top: 50%;
}

.media-object-section {
    vertical-align: middle;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

input {
    color: black;
}

controls-image {
    width: 100%;
}

#controls .vertical-title{
    display: none;
}

#controls .content {
    margin: 0;
    max-width: 95px;
}

#play-img {
    height: 55px;
    float: right;
}

#next-img {
    height: 35px;
    float: right;
    margin-right: 10px;
}

#prev-img {
    height: 40px;
}

#play-container {
    width: 100%;
    height: 55px;
}

#prev-container{
    width: 100%;
    height: 40px;
}

#next-container{
    width: 100%;
    height: 35px;
}

#progress-bar .content{
    position: absolute;
    height: 100%;
    width: 100%;
}

#progress-fill {
    height: 100%;
    width: 100%;
}
