.album-results-container {
    border: 1px black solid;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 300px;
}

.player-container {
    border-radius: 65px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    overflow: hidden;
    justify-content: center;
}

.whole-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar {
    width: 100%;
    z-index: 20;
    position: fixed;
}


.arrow {
    position: absolute;
    height: 20px;
    width: 20px;
    display: none;
}

.arrow:hover {
    cursor: grab;
}


#artist-results {
    background: black;
}

#spotify-results {
    background: #191414;
}

#tracks-pane {
    background: yellow;
}

#lyrics-pane {
    background: green;
}

#scrobble-pane {
    background: orange;
}

#album-results {
    background: green;
}

#news-pane {
    background: white;
    color: black;
}

#options {
    background: black;
    color: white;
}

#search-bar {
    background: lightgrey;
}

.artist-result {
    background-color: black;
    color: white;
}


.artist-result:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.album-result {
    background-color: yellow;
    color: blue;
}


.album-result:hover {
    background-color: blue;
    color: yellow;
    cursor: pointer;
}

body{
    width: 100%;
    background: black;
}

h2 {
    color: white;
}

#player{

}

#vid-box{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.options {
    position: fixed;
    z-index: 20;
    top: 55px;
    color: white;
}

.search-result {

}

.search-result:hover {
    color: yellow;
    background-color: gree+n;
}

.x {
    height: 20px;
    width: 20px;
    position: absolute;
    display: none;
}
